body,
html {
    height: 100%;
}

body {
    padding-bottom: 1120px;
    font-family: "Montserrat";
}

h1 {
    margin: 5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 1.4rem;
    margin: 10px;
    padding-bottom: 20px;

    .card {
        border-radius: 15px;
        box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 40%);
        background-image: linear-gradient(138deg, rgba(37, 200, 241, 0.9), rgba(199, 246, 208, 0.6));
        transition: transform 0.2s;
        text-decoration: none;
        color: black;
        padding: 1.4rem;

        &:hover {
            transform: translateY(-2px);
            background-image: linear-gradient(138deg, rgba(107, 221, 250, 0.9), rgba(37, 200, 241, 0.9));
        }

        &:active {
            background-image: linear-gradient(138deg, white, rgba(199, 246, 208, 0.6));
            transform: translateY(2px);
        }

        p {
            color: rgb(59, 59, 59);
        }
    }
}