html {
  overflow-y: scroll;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

body,
html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  padding: 2rem;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
  margin: 50px 10px;
  text-decoration: none;
  padding-bottom: 5%;

  .card {
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 40%);
    transition: transform 0.2s;
    text-decoration: none;
    color: black;
    padding: 1.4rem;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 20%);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }

    p {
      margin: 0;
      padding: 0;
      color: rgb(59, 59, 59);
    }
  }
}

.github-corner:hover .github-arm {
  animation: github-wave 560ms ease-in-out;
}

@keyframes github-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .github-arm {
    animation: none;
  }

  .github-corner .github-arm {
    animation: github-wave 560ms ease-in-out;
  }
}

#search {
  width: 500px;
  margin: auto;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 6px;
  padding-left: 10px;
  font-size: 18px;
}

@media (max-width: 500px) {
  #search {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}
